<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" (click)="salir()">
      <ion-icon name="close-circle-outline" size="large" defaultHref="lista"></ion-icon>
    </ion-buttons>
    <ion-title *ngIf="editable == 0">Registrar usuario</ion-title>    
    <ion-title *ngIf="editable == 1">Editar usuario {{ documento }}</ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm">   
    <ion-grid>
      <ion-row class="justify-content-center"> 
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Nombres:<small>*</small></ion-label>
            <ion-input maxlength="100" name="nombres" [(ngModel)]="nombres" type="text" required   placeholder="Nombre usuario"> </ion-input>
          </ion-item>

        <ion-item>
          <ion-label position="floating">Apellidos:<small>*</small></ion-label>
          <ion-input maxlength="100" name="apellidos" [(ngModel)]="apellidos" type="text" required  maxlength="100" placeholder="Apellidos"> </ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="6">
        <ion-item>
          <ion-label position="floating"> Tipo documento<small>*</small></ion-label>       
          <ion-select name="tipo_documento" [(ngModel)]="tipo_documento" placeholder="Seleccionar" interface="popover" required >
            <ion-select-option *ngFor="let item of tipos_documento" [value]="item.desc" > {{ item.desc }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col size="6">
        <ion-item>
          <ion-label position="floating">N° Identificación:<small>*</small></ion-label>
          <ion-input maxlength="30" name="documento" [(ngModel)]="documento" type="number" required > </ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="12">
        <ion-item><!-- style="display: none" -->
          <ion-label position="floating">Fecha nacimiento</ion-label>
          <ion-datetime name="fecha_nacimiento" [(ngModel)]="fecha_nacimiento"
                          displayFormat=" DD/MM/YYYY " min="1992-03-14" max="2020-12-31"
                          value="{{ item.fecha_nacimiento }}" doneText="Seleccionar" cancelText="Cancelar"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Teléfono</ion-label>
          <ion-input  maxlength="11" name="telefono" [(ngModel)]="telefono" type="tel"> </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input  maxlength="30" name="correo" [(ngModel)]="correo" type="email"> </ion-input>
        </ion-item>

        <p> <small>Los campos marcados con (*) son obligatorios. </small> </p>
      </ion-col>
        


      </ion-row>
    </ion-grid>
  </form>

</ion-content>

<ion-footer>
  <ion-toolbar>   
    <ion-button *ngIf="editable == 0" expand="block" (click)="registrarUsuario()"  [disabled]="form.invalid"><!--  [disabled]="form.invalid" -->
      <ion-icon slot="end" name="save-outline"></ion-icon>
    Guardar
  </ion-button>
    <ion-button *ngIf="editable == 1" expand="block" (click)="editarUsuario(item)" [disabled]="form.invalid"><!--  [disabled]="form.invalid"  -->
    <ion-icon slot="end" name="save-outline"></ion-icon>
    Actualizar
</ion-button>
  </ion-toolbar>
</ion-footer>