<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-icon size="large" slot="start" name="person-outline"></ion-icon>

    <ion-title>
      Control de usuarios
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar type="text" (ionInput)="getItems($event)" placeholder="Buscar usuario"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item-sliding *ngFor="let item of usuarios; let i = index">

      <ion-item>
        <ion-label>
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                <ion-row>
                  <ion-col>
                    ID: <strong> {{ item.documento }} </strong>
                  </ion-col>
                  <ion-col>
                    Tipo: <strong> {{ item.tipo_documento }} </strong>
                  </ion-col>
                  <ion-col>
                    Nombre:<strong> {{ item.nombres }} </strong>
                  </ion-col>
                  <ion-col>
                    Apellidos: <strong>{{ item.apellidos }}</strong>
                  </ion-col>
                  <ion-col  *ngIf="item.fecha_nacimiento">
                    Fecha nacimiento: <strong>{{ item.fecha_nacimiento }}</strong>
                  </ion-col>
                  <ion-col  *ngIf="item.telefono">
                    Teléfono: <strong>{{ item.telefono }}</strong>
                  </ion-col>
                  <ion-col *ngIf="item.correo">
                    Correo: <strong>{{ item.correo }}</strong>
                  </ion-col>
                </ion-row>
                <ion-row>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>

      <ion-item-options side="start">

        <ion-item-option color="secondary" (click)="editar(item)">
          <ion-icon size="large" name="create-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="eliminarUsuario(item, i)">
          <ion-icon size="large" name="trash-outline"></ion-icon>
        </ion-item-option>

        <ion-item-option *ngIf="item.sincronizado == '0' && item.estado == 2" color="secondary"
          (click)="goToEditar(item)">
          <ion-icon size="large" name="create-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>

  </ion-list>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Actualizar página"
      refreshingSpinner="circles" refreshingText="Cargando información...">
    </ion-refresher-content>
  </ion-refresher>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="crearUsuario()">
      <ion-icon name="person-add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>